<h3>Comment ça se passe ?</h3>
<div style="position: relative">
    <ul class="timeline">
        <li class="time-label">
            <span class="bg-light-blue"> Aujourd'hui
            </span>
        </li>

        <li>
            <i class="fa fa-hand-o-up bg-blue"></i>
            <div class="timeline-item">
                <h3 class="timeline-header">Vous réservez</h3>
                <div class="timeline-body">
                    Placer une réservation en déposant 100€ remboursable
                </div>
            </div>
        </li>

        <li>
            <i class="fa fa-euro bg-blue"></i>
            <div class="timeline-item">
                <h3 class="timeline-header no-border">Vous confirmez votre participation</h3>
                <div class="timeline-body">
                </div>
                On se rencontre à l'atelier pour vous montrer la Risebox en fonctionnement et répondre à vos questions. Si vous confirmez vous réglez le solde de la participation au programme, soit 1190€.
            </div>
        </li>

        <li class="time-label">
            <span class="bg-green"> Cet été
            </span>
        </li>

        <li>
            <i class="fa fa-wrench bg-purple"></i>
            <div class="timeline-item">
                <h3 class="timeline-header">On fabrique</h3>
                <div class="timeline-body">
                    Nous construisons votre Risebox et nous préparons l'écosystème pour vous
                </div>
            </div>
        </li>

        <li class="time-label">
            <span class="bg-green"> A partir de Septembre
            </span>
        </li>

        <li>
            <i class="fa fa-truck bg-maroon"></i>
            <div class="timeline-item">
                <h3 class="timeline-header">On vous livre</h3>
                <div class="timeline-body">
                   Nous commençons les livraisons dans l'ordre de pré-commande. Votre Risebox est déjà plantée et nous fournissons les poissons.
                </div>
            </div>
        </li>


        <li>
            <i class="fa fa-smile-o bg-blue"></i>
            <div class="timeline-item">
                <h3 class="timeline-header">On vous accompagne</h3>
                <div class="timeline-body">
                    Pendant toute la durée du programme tout est inclus :
                    <br />
                    <ul>
                        <li>Le support de l'équipe</li>
                        <li>La nourriture pour les poissons</li>
                        <li>Les plantations</li>
                    </ul>
                    Ce sera également l'occasion de nous faire de vos remarques et vos idées qui contribueront à l'élaboration de la prochaine version.
                </div>
            </div>
        </li>

        <li class="time-label">
            <span class="bg-green"> 6 mois plus tard
            </span>
        </li>

        <li>
            <i class="fa fa-paper-plane bg-blue"></i>
            <div class="timeline-item">
                <h3 class="timeline-header">Vous choisissez</h3>
                <div class="timeline-body">
                    Vous conservez votre exemplaire unique ou nous l'échangeons contre un avoir valable sur la version commerciale de la Risebox.
                </div>
            </div>
        </li>
    </ul>
</div>