<div class="container">
    <%= render 'home/nav' %>

    <br /><br />
    <h1 class="text-center">Merci !</h1>

    <br /><br />

    Héhé c'est noté :)
    <br/>
    On vous recontacte très vite pour plannifier avec vous la livraison de votre Risebox.
    <br/><br/>
    Nicolas & Adrien.

</div>
