<p>Bonjour <%=@lead.first_name%>, </p>

<p>Nous avons bien enregistré votre paiement d'un montant de <%= @lead.reservation_amount %>€ TTC effectué le <%= l(@tx_time, format: :long, locale: :fr) %></p>

<p>Votre numéro de transaction est le <%= @lead.transaction_number%>.</p>

<p>Votre Risebox est d'ores et déjà réservée !</p>

<p>Nous vous tiendrons informé du bon déroulement de la fabrication. Dans l'intervalle, n'hésitez pas à nous écrire pour toute question sur team@risebox.co</p>

<p>Bienvenue chez Risebox.</p>

<p>
    Nicolas et Adrien <br />
    Co-fondateurs Risebox
</p>