<p>Bonjour <%=@lead.first_name%>, </p>

<p>Nous avons bien enregistré votre paiement d'un montant de 100€ TTC effectué le <%= l(@tx_time, format: :long, locale: :fr) %></p>

<p>Votre numéro de transaction est le <%= @lead.transaction_number%>.</p>

<p>Nous réservons votre place pour notre programme early adopter.</p>

<p>Nous vous contactons très rapidement pour préparer votre venue à l'atelier.</p>

<p>Bienvenue chez Risebox.</p>

<p>
    Nicolas et Adrien <br />
    Co-fondateurs Risebox
</p>