<% admin_title 'Monitoring' %>
<div class="row">
    <div class="col-lg-6">
        <iframe src="https://rpm.newrelic.com/public/charts/l1NDwytqdFB" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div class="col-lg-6">
        <iframe src="https://rpm.newrelic.com/public/charts/bUAjCCNb2rU" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <iframe src="https://rpm.newrelic.com/public/charts/bq2BgUlcpIE" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div class="col-lg-6">
        <iframe src="https://rpm.newrelic.com/public/charts/aE5uyc7jxav" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
</div>