<section id="gallery-container">
    <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 center-title">
              <i class="icon-calendar"></i>
              <h2>Les étapes du déménagement</h2>
          </div>
        </div>
        
        <br/>

        <ul class="timeline">
            <li>
              <div class="timeline-badge success"><i class="glyphicon glyphicon-earphone"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Appelez-nous</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar violet"></i>&nbsp;A tout moment</small></p>
                </div>
                <div class="timeline-body">
                  <p>Nous convennons d'un rendez-vous pour venir retirer la Risebox chez vous. Vous n'avez rien à faire, à part finir de manger tous les légumes :)</p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge success"><i class="glyphicon glyphicon-plane"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Nous retirons votre éco-système</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar violet"></i>&nbsp;Quelques jours avant de déménager</small></p>
                </div>
                <div class="timeline-body">
                  <p>
                    Notre équipe se déplace chez vous. 
                    <ul>
                      <li>On s'occupe des poissons : nous les prélevons délicatement et les préparons pour le transport.</li>
                      <li>On retire les billes d'argiles et on vide l'eau</li>
                      <li>On déplace délicatement votre Risebox en protégeant l'aquarium</li>
                    </ul>
                  </p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="glyphicon glyphicon-heart"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">On bichonne votre Risebox</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar violet"></i>&nbsp;Pendant votre déménagement</small></p>
                </div>
                <div class="timeline-body">
                  <p>
                    Nous stockons votre Risebox le temps qu'il vous faut. Vos poissons prennent quelques jours de vacances chez nous. On en profite pour faire un check-up complet de votre Risebox et changer ce qui est necessaire. <br/><br/>De votre côté, vous déménagez en toute sérénité.</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="glyphicon glyphicon-road"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Votre Risebox est de retour :)</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-calendar violet"></i>&nbsp;Après votre déménagement</small></p>
                </div>
                <div class="timeline-body">
                  <p>
                    Bien installé dans votre nouvelle vie, nous vous rammenons votre Risebox. Nous installons l'éco-système, les poissons et plantons devant vous les nouveaux légumes.
                  </p>
                </div>
              </div>
            </li>

        </ul>
    </div>
</section>