<h2 class="text-center">
    FAQ
</h2>
<br/>

<div class="panel-group" role="tablist">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        Qui peut participer ?
      </h4>
    </div>
    <div role="tabpanel">
      <div class="panel-body">
        Pour le moment, le programme early adopter est ouvert aux habitants de Paris (75), les Hauts-de-Seine (92) et du Val d'Oise (95). Si vous êtes interessés et que vous habitez dans un autre département (ou pays) <a href="mailto:hello@risebox.co">contactez-nous</a> et nous vous préviendrons dès que vous pourrez profiter de notre programme.
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        Combien ça coûte ?
      </h4>
    </div>
    <div role="tabpanel">
      <div class="panel-body">
        La participation au programme coûte 1290€. Ce montant inclut votre Risebox avec 6 mois de support premium et fournitures gratuites pour vos poissons et vos plantations. Comme nous avons peu de places, nous vous demandons 100€ de réservation pour garantir votre participation. Le solde est à régler une fois que vous confirmez votre commande. Si vous changez d'avis nous remboursons l'intégralité.
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        Quelle est la taille d'une Risebox ?
      </h4>
    </div>
    <div role="tabpanel">
      <div class="panel-body">
        La Risebox mesure 1,20m de large, 2m de haut et 50cm de profondeur. Si vous avez des contraintes particulières, <a href="mailto:hello@risebox.co">contactez-nous</a> pour que nous étudions avec vous les possibilités de personnalisation.
      </div>
    </div>
  </div>
</div>