<h2 class="text-center">
    FAQ
</h2>
<br/>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Qui peut participer ?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Pour le moment, le programme early adopter est ouvert aux habitants de Paris (75), les Hauts de seine (92) et du Val d'oise (95). Si vous êtes interessés et que vous habitez dans un autre département (ou pays) <a href="mailto:hello@risebox.co">contactez-nous</a> et nous vous préviendrons dès que vous pourrez profiter de notre programme.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Combien ça coute ?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        La participation au programme coûte 1290€. Comme nous avons peu de places, nous demandons 100€ pour vous garantir une place. Le solde est à régler une fois que vous confirmez votre commande. Si vous changez d'avis nous remboursons l'intégralité.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Quelle est la taille d'une Risebox ?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        La Risebox mesure 1,20m de large, 2m de haut et 50cm de profondeur. Si vous avez des contraintes d'espace, <a href="mailto:hello@risebox.co">contactez-nous</a> pour que nous étudions avec vous les possibilités de personnalisation.
      </div>
    </div>
  </div>
</div>