<h2 class="text-center">
    Les étapes du programme
</h2>
<br/>

<ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-hand-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Vous réservez</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Aujourd'hui</small></p>
        </div>
        <div class="timeline-body">
          <p>Placez une réservation en déposant 100€ remboursables.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-euro"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Vous confirmez votre participation</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Dans quelques jours</small></p>
        </div>
        <div class="timeline-body">
          <p>On se rencontre à l'atelier pour vous montrer la Risebox en fonctionnement et répondre à vos questions. Si vous confirmez, vous réglez le solde de la participation au programme, soit 1190€.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-wrench"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">On fabrique</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> Cet été</small></p>
        </div>
        <div class="timeline-body">
          <p>Nous construisons votre Risebox et nous préparons l'écosystème pour vous.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-gift"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">On vous livre</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> A partir de Septembre</small></p>
        </div>
        <div class="timeline-body">
          <p>Nous commençons les livraisons dans l'ordre de pré-commande. Votre Risebox est déjà plantée et nous fournissons les poissons.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-earphone"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">On vous accompagne</h4>
        </div>
        <div class="timeline-body">
        <p>
          Pendant toute la durée du programme tout est inclus :
          <br />
          <ul>
              <li>Le support de l'équipe</li>
              <li>La nourriture pour les poissons</li>
              <li>Les plantations</li>
          </ul>
          Ce sera également l'occasion de nous faire part de vos remarques et de vos idées qui contribueront à l'élaboration de la prochaine version.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-send"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Vous choisissez</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 6 mois plus tard</small></p>
        </div>
        <div class="timeline-body">
          <p>A la fin du programme, vous conservez votre exemplaire unique. <br /><br />De plus, lorsque la version grand public sera commercialisée, vous pourrez choisir...
          <ul>
            <li>de conserver votre modèle early adopter</li>
            <li>de l'échanger contre un avoir d'une valeur de 1290€ sur le nouveau modèle</li>
          </ul>
          </p>
        </div>
      </div>
    </li>
</ul>