

    <section id="home" class="banner-intro banner-slider">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center end-banner" style="background-color:white; opacity:0.6;padding:10px">
                        <h1>Risebox, c'est fini !</h1>
                        <p class="lead">Après 2 ans d'innovation, de culture, d'expérimentations, après 5 prototypes, dont plusieurs fonctionnent toujours chez leurs propriétaires, nous avons dû arrêter.</p>
                        <p class="lead">Merci à tous de nous avoir suivis et encouragés. Nous restons persuadés que l'agriculture a besoin de solutions radicalement plus saines et plus durables.</p>
                        <p class="lead"><strong>A nous tous de les mettre en oeuvre.</strong></p>
                        <p class="lead">Nicolas (<a href="https://twitter.com/nna_done" target="_blank">@nna_done</a>) et Adrien (<a href="https://twitter.com/adrienthery" target="_blank">@adrienthery</a>)</p>
                        <div class="banner-buttons">
                            <%= link_to "/home", class: "btn btn-lg btn-skin btn-radius" do %>
                                Voir l'archve du site
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
