/*
 * This are extra configuration for assan so that original files are not changed.
 * Only _variables.scss should be modified
 */
.navbar-right{
	li.button-nav{
		a{
			background-color: #f0ad4e;
			@include border-radius(3px);
		}
	}
}

.clients{
	background: none;
	li {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.newsletter-section{
    padding: 20px 0;
}

.price-box h3 {
	margin-top: 0px
}

.price-box:hover {
	background-color: white;
	color: #7a7a7a;
	h3 {
		color: #666;
	}
	
}

.wide-image-wrapper{
    background-color: #f6f8fa;
    padding: 0;
    .img-right{
	    background: image-url("home/fish.jpg") 50% 0 no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    height:500px;
    }
    h3{
        color:#333;
        font-size: 30px;
        font-weight: 300;
        padding-top: 30px;
    }
    p{
        padding-bottom: 30px;
    }
    .btn{
        margin-bottom: 30px;
    }
}

//extra colors
.violet{
    color:#8c18aa;
}
.comp{
	color:#36AA18;
}
.orange{
    color:#ced3d8;
}