@font-face {
    font-family: 'risebox';
    src:
        font-url('risebox.ttf?igrevn') format('truetype'),
        font-url('risebox.woff?igrevn') format('woff'),
        font-url('risebox.svg?igrevn#risebox') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="riseicon-"], [class*="riseicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'risebox' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.riseicon-truck:before {
    content: "\e90d";
}
.riseicon-check:before {
    content: "\e90c";
}
.riseicon-analysis:before {
    content: "\e907";
}
.riseicon-notification:before {
    content: "\e908";
}
.riseicon-heart:before {
    content: "\e90a";
}
.riseicon-box:before {
    content: "\e90b";
}
.riseicon-climate:before {
    content: "\e909";
}
.riseicon-basil:before {
    content: "\e900";
}
.riseicon-aragula:before {
    content: "\e901";
}
.riseicon-pepper:before {
    content: "\e902";
}
.riseicon-tomatoe:before {
    content: "\e903";
}
.riseicon-spinach:before {
    content: "\e904";
}
.riseicon-strawberry:before {
    content: "\e905";
}
.riseicon-users:before {
    content: "\e906";
}
